{% extends "base.html" %}
{% load staticfiles %}

{% block top_css %}
<link href="{% static "css/index/index.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

{% include "index/_navigation_bar.html" %}
{% include "index/_hiring_modal.html" %}
<!-- landing title section -->
<div class="container-fluid landing-title top-background-image">
    <div class="row text-center landing-section">
        <div class="col-md-offset-2 col-md-8 col-md-offset-2 col-md-8">
            <h1 class="main-title">Get your car fixed today!</h1>
            <!-- <p class="main-line lead">
                We send a mechanic to your driveway to fix your car. Now you
                can sit back and relax!Sign up to be part of our Beta and
                you will receive 25% off your first service!
            </p> -->
           <a class="signup btn" data-toggle="modal" data-target="#CarOwnerModal">Sign up now</a>
           <!-- <button class="signup btn" data-toggle="modal" data-target="#MechanicModal">Become a mechanic</button> -->
       </div>
    </div>
    {% include "beta/_car_owner_beta_form.html" %}
    {% include "beta/_mechanic_beta_form.html" %}
</div>

<div class="container-fluid third-section">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="col-md-offset-2 col-md-5 col-sm-offset-1 col-sm-5 col-xs-12 vcenter text-center">
                Be your own boss
            </div>
            <a class="btn col-md-4 col-sm-5 col-xs-12 vcenter" data-toggle="modal" data-target="#MechanicModal">Sign up to become a mechanic</a>
        </div>
    </div>
</div>

<!-- section of no more waiting -->
<div class="container fourth-section">
    <div class="row text-center">
        <div class="col-md-offset-1 col-md-10">
            <h3>No more waiting at a repair shop</h3>
            <p class="fourth-section text-center">
                Whether it is a week end or a week day Kanic matches you with a
                certified  mechanic instantly. We take care of your car while you
                can relax.
            </p>
        </div>
    </div>
</div>

<!-- section of how it works -->
<div class="container fourth-section">
    <div class="text-center">
        <h1 id="about">The way it works</h1>
        <!-- <p class="lead center">
            In three easy steps, schedule a mechanic. Saves you time, money, and energy!
        </p> -->

        <div class="col-md-4 left">
        <h2><i class="fa fa-check"></i> Choose a service</h2>
        <p>
            We offer a range of services. This includes and not limited to, Oil
            change, brake services and many more. This list is growing as we are
            growing!
        </p>
        </div>

        <div class="col-md-4 middle">
        <h2><i class="fa fa-pencil"></i> Get a Quote</h2>
        <p>
            After you choose a service and schedule a time you receive a
            detailed estimate on how much the service will cost you. You then
            choose to either submit the request or not complete it. But you
            should probably proceed, we offer the best prices.
        </p>
        </div>

        <div class="col-md-4 right">
        <h2><i class="fa fa-calendar"></i></span> Schedule a visit</h2>
        <p>
            At this point all you have yo do is lay back and wait for your
            mechanic to show up!
        </p>
        </div>
    </div>
</div>

<!-- section of why use kanic -->
<div class="container sixth-section">
    <div class="row text-center">
        <h1>Why you should use Kanic</h1>
        <p class="lead">
            In three easy steps, schedule a mechanic. Saves you time, money,
            and energy!
        </p>
    </div>

    <div class="row text-center">
        <div class="col-md-offset-2 col-md-4">
            <div class="left-upper">
                <div>
                    <i class="fa fa-clock-o fa-4x"></i>
                </div>
                <h3>Time</h3>
                <p class="fadeInBlock">
                    Kanic is convenience. We believe you should not waste your
                    time at a repair shop.
                    <br>
                    <br>
                </p>
            </div>
            <div class="left-lower">
                <div>
                    <i class="fa fa-credit-card fa-4x"></i>
                </div>
                <h3>Transparency</h3>
                <p>
                    Using our Get a Quote tool. You will be able to know in advance
                    how much you will be paying. Also, you only get charged after
                    the service is completed.
                </p>
            </div>
        </div>

        <!-- <div class="col-md-4">
            <img src="http://placehold.it/300x350">
        </div> -->

        <div class="col-md-4">
            <div class="right-upper">
                <div>
                    <i class="fa fa-lock fa-4x"></i>
                </div>
                <h3>Safety</h3>
                <p>
                    All of our mechanics are background checked. By using leading
                    technology we are able to run rapid and effective background
                    checks on our mechanics.
                </p>
            </div>
            <div class="right-lower">
                <div>
                    <i class="fa fa-star fa-4x"></i>
                </div>
                <h3>Reliability</h3>
                <p>
                    We only accept certified mechanics to be part of our team. Also,
                    with our review system, we make sure to provide you with the
                    best rated mechanics.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- section of service -->
<!-- <div class="container sixth-section">
    <div class="row text-center">
        <h1>Service</h1>
        <br>
        <img src="http://placehold.it/250x150">
        <img src="http://placehold.it/250x150">
        <img src="http://placehold.it/250x150">
        <img src="http://placehold.it/250x150">
    </div>
</div> -->

<!-- section of request now -->
<!-- <div class="container-fluid seventh-section">
    <div class="row text-center">
        <h1>Request a mechanic now</h1>
    </div>
</div> -->

<!-- section of footer -->
{% include "_footer.html" %}

{% endblock %}

{% block bottom_js %}
<script type="text/javascript "src="{% static "javascript/index/index.js" %}"></script>
{% endblock %}
