{% extends "base.html" %}
{% load staticfiles %}

{% block top_css %}
<link href="{% static "css/index/index.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<!-- navigation row -->
<div class="container-fluid">
    <div class="row navigation">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">

                <div class="navbar-header">
                    <a href="./" class="navbar-brand">Kanic</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse" id="navbar-main">

                    <ul class="nav navbar-nav">
                      <li><a href="#about" class="nav-item">About</a></li>
                      <li><a class="nav-item">We are hiring!</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="" class="nav-item mechanic" data-toggle="modal" data-target="#MechanicModal">Become a mechanic</a></li>
                        <li><a href="" class="nav-item" data-toggle="modal" data-target="#CarOwnerModal">Sign up</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- landing title section -->
<div class="container-fluid landing-title top-background-image">
    <div class="row text-center landing-section">
        <div class="col-md-offset-2 col-md-8 col-md-offset-2 col-md-8">
            <h1 class="main-title">Get your car fixed today!</h1>
            <!-- <p class="main-line lead">
                We send a mechanic to your driveway to fix your car. Now you
                can sit back and relax!Sign up to be part of our Beta and
                you will receive 25% off your first service!
            </p> -->
           <a class="signup btn" data-toggle="modal" data-target="#CarOwnerModal">Sign up now</a>
           <!-- <button class="signup btn" data-toggle="modal" data-target="#MechanicModal">Become a mechanic</button> -->
       </div>
    </div>

    <!-- form for car owner -->
     <div class="modal fade" id="CarOwnerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title" id="myModalLabel">Beta Test</h4>
           </div>
           <div class="modal-body">
               <form id="sign-up-form" action="{% url "beta-car-owner-signup" %}" method="post">
                   {% csrf_token %}
                  <div class="form-group">
                      {{ signup_form.first_name.errors }}
                      {{ signup_form.first_name }}
                  </div>

                  <div class="form-group">
                      {{ signup_form.last_name.errors }}
                      {{ signup_form.last_name }}
                  </div>

                  <div class="form-group">
                      {{ signup_form.email.errors }}
                      {{ signup_form.email }}
                  </div>

                  <div class="form-group">
                      {{ signup_form.phone.errors }}
                      {{ signup_form.phone }}
                  </div>

                  <div class="form-group">
                      {{ signup_form.zipCode.errors }}
                      {{ signup_form.zipCode }}
                  </div>

                  <div class="form-group">
                      {{ signup_form.car.label_tag }}
                      {{ signup_form.car.errors }}
                      {% for radio in signup_form.car %}
                      <div class="radio">
                      {{ radio }}
                      </div>
                      {% endfor %}
                  </div>
                  {{ signup_form.hidden }}
                  {% if carOwner_invalid %}
                  <p id="carOwner_invalid"></p>
                  {% endif %}
               </form>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn cancel" data-dismiss="modal">Close</button>
             <button id="submit" type="submit" class="btn btn-default" form="sign-up-form">Submit</button>
           </div>
         </div>
       </div>
     </div>

    <!-- form for mechanic -->
     <div class="modal fade" id="MechanicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title" id="myModalLabel">Become a mechanic</h4>
           </div>
           <div class="modal-body">
               <form id="mechanic-form" action="{% url "beta-mechanic-signup" %}" method="post">
                   {% csrf_token %}
                  <div class="form-group">
                      {{ mechanic_form.first_name.errors }}
                      {{ mechanic_form.first_name }}
                  </div>

                  <div class="form-group">
                      {{ mechanic_form.last_name.errors }}
                      {{ mechanic_form.last_name }}
                  </div>

                  <div class="form-group">
                      {{ mechanic_form.email.errors }}
                      {{ mechanic_form.email }}
                  </div>

                  <div class="form-group">
                      {{ mechanic_form.phone.errors }}
                      {{ mechanic_form.phone }}
                  </div>

                  <div class="form-group">
                      {{ mechanic_form.work_type.label_tag }}
                      {{ mechanic_form.work_type.errors }}
                      {% for radio in mechanic_form.work_type %}
                      <div class="radio">
                      {{ radio }}
                      </div>
                      {% endfor %}
                  </div>

                  <div class="form-group">
                      {{ mechanic_form.is_certified.label_tag }}
                      {{ mechanic_form.is_certified.errors }}
                      {% for radio in mechanic_form.is_certified %}
                      <div class="radio">
                      {{ radio }}
                      </div>
                      {% endfor %}
                  </div>

                  <div class="form-group">
                      {{ mechanic_form.certification.label_tag }}
                      {{ mechanic_form.certification.errors }}
                      {{ mechanic_form.certification }}
                  </div>

                  {{ mechanic_form.hidden }}
                  {% if mechanic_invalid %}
                  <p id="mechanic_invalid"></p>
                  {% endif %}
               </form>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn cancel" data-dismiss="modal">Close</button>
             <button id="mechanic_submit" type="submit" class="btn btn-default" form="mechanic-form">Submit</button>
           </div>
         </div>
       </div>
     </div>

</div>

<div class="container-fluid third-section">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="col-md-offset-2 col-md-5 col-sm-offset-1 col-sm-5 col-xs-12 vcenter text-center">
                Be your own boss
            </div>
            <a class="btn col-md-4 col-sm-5 col-xs-12 vcenter" data-toggle="modal" data-target="#MechanicModal">Sign up to become a mechanic</a>
        </div>
    </div>
</div>

<!-- section of no more waiting -->
<div class="container fourth-section">
    <div class="row text-center">
        <div class="col-md-offset-1 col-md-10">
            <h3>No more waiting at a repair shop</h3>
            <p class="fourth-section text-center">
                Whether it is a week end or a week day Kanic matches you with a
                certified  mechanic instantly. We take care of your car while you
                can relax.
            </p>
        </div>
    </div>
</div>

<!-- section of how it works -->
<div class="container fourth-section">
    <div class="text-center">
        <h1 id="about">The way it works</h1>
        <!-- <p class="lead center">
            In three easy steps, schedule a mechanic. Saves you time, money, and energy!
        </p> -->

        <div class="col-md-4 left">
        <h2><i class="fa fa-check"></i> Choose a service</h2>
        <p>
            Because we value your time, we will make the trip to your location
            and fix your car. At the mean time you can enjoy some quality time
            with your family or watch your favorite Football team play.
        </p>
        </div>

        <div class="col-md-4 middle">
        <h2><i class="fa fa-pencil"></i> Get a Quote</h2>
        <p>
            Because we value your time, we will make the trip to your location
            and fix your car. At the mean time you can enjoy some quality time
            with your family or watch your favorite Football team play.
        </p>
        </div>

        <div class="col-md-4 right">
        <h2><i class="fa fa-calendar"></i></span> Schedule a visit</h2>
        <p>
            Because we value your time, we will make the trip to your location
            and fix your car. At the mean time you can enjoy some quality time
            with your family or watch your favorite Football team play.</p>
        </div>
    </div>
</div>

<!-- section of why use kanic -->
<div class="container sixth-section">
    <div class="row text-center">
        <h1>Why you should use Kanic</h1>
        <p class="lead">
            In three easy steps, schedule a mechanic. Saves you time, money,
            and energy!
        </p>
    </div>

    <div class="row text-center">
        <div class="col-md-4">
            <div class="left-upper">
                <div>
                    <i class="fa fa-clock-o fa-4x"></i>
                </div>
                <h3>Time</h3>
                <p class="fadeInBlock">
                    Kanic is convenience. We believe you should not waste your
                    time at a repair shop.
                    <br>
                    <br>
                </p>
            </div>
            <div class="left-lower">
                <div>
                    <i class="fa fa-credit-card fa-4x"></i>
                </div>
                <h3>Transparency</h3>
                <p>
                    Using our Get a Quote tool. You will be able to know in advance
                    how much you will be paying. Also, you only get charged after
                    the service is completed.
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <img src="http://placehold.it/300x350">
        </div>

        <div class="col-md-4">
            <div class="right-upper">
                <div>
                    <i class="fa fa-lock fa-4x"></i>
                </div>
                <h3>Safety</h3>
                <p>
                    All of our mechanics are background checked. By using leading
                    technology we are able to run rapid and effective background
                    checks on our mechanics.
                </p>
            </div>
            <div class="right-lower">
                <div>
                    <i class="fa fa-star fa-4x"></i>
                </div>
                <h3>Reliability</h3>
                <p>
                    We only accept certified mechanics to be part of our team. Also,
                    with our review system, we make sure to provide you with the
                    best rated mechanics.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- section of service -->
<!-- <div class="container sixth-section">
    <div class="row text-center">
        <h1>Service</h1>
        <br>
        <img src="http://placehold.it/250x150">
        <img src="http://placehold.it/250x150">
        <img src="http://placehold.it/250x150">
        <img src="http://placehold.it/250x150">
    </div>
</div> -->

<!-- section of request now -->
<!-- <div class="container-fluid seventh-section">
    <div class="row text-center">
        <h1>Request a mechanic now</h1>
    </div>
</div> -->

<!-- section of footer -->

<!-- <footer class="landingpage-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: left; height: 60px; margin-top: 19px">
                <img src="/static/images/gleam-124.71a07acfff2f.png" style="height: 42px; padding-bottom: 5px;">
                <p class="text-muted">© Gleam 2016</p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: right">
                <br>
                <a href="https://www.facebook.com/GleamNYC/">
                <span class="fa-stack fa-lg" style="font-size: 20px">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://twitter.com/gleamnyc">
                <span class="fa-stack fa-lg" style="font-size: 20px">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="https://instagram.com/gleam_nyc">
                <span class="fa-stack fa-lg" style="font-size: 20px">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
                </a>
                <a href="mailto:gleam@zahncenternyc.com">
                <span class="fa-stack fa-lg" style="font-size: 20px">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope-square fa-stack-1x fa-inverse"></i>
                </span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6" style="text-align: left;">
                <p>160 Convent Ave, New York, NY 10031</p>
            </div>
        </div>
    </div>
</footer> -->

<div class="container-fluid eighth-section">
    <div class="row">
        <div class="col-sm-3 col-md-offset-2 col-md-2 menu">
            <h3>Overview</h3>
            <ul>
                <li>
                    <a href="features.html">Features</a>
                </li>
                <li>
                    <a href="services.html">Services</a>
                </li>
                <li>
                    <a href="pricing.html">Pricing</a>
                </li>
                <li>
                    <a href="support.html">Support</a>
                </li>
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="blog.html">Coming soon</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-3 col-md-2 menu">
            <h3>Menu</h3>
            <ul>
                <li>
                    <a href="features.html">About us</a>
                </li>
                <li>
                    <a href="services.html">Contact us</a>
                </li>
                <li>
                    <a href="aboutus.html">Jobs</a>
                    <a href="aboutus.html" class="hiring">
                        We're hiring!
                    </a>
                </li>
                <li>
                    <a href="support.html">Portfolio</a>
                </li>
                <li>
                    <a href="blog.html">Status</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-2 col-md-2 menu">
            <h3>Social</h3>
            <ul>
                <li>
                    <a href="features.html">Youtube</a>
                </li>
                <li>
                    <a href="services.html">Facebook</a>
                </li>
                <li>
                    <a href="pricing.html">Twitter</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-3 newsletter">
            <div class="signup clearfix">
                <p>
                    Sign up for the newsletter and we'll inform you of updates, offers and more.
                </p>
                <form>
                    <input type="text" name="email" class="form-control email" placeholder="Your email address">
                    <input class="newsletter" type="submit">Sign up</button>
                </form>
            </div>
            <div class="social">
                <a class="social" href="#"><i class="social fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
                <a class="social" href="#"><i class="social fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
                <a class="social" href="#"><i class="social fa fa-instagram fa-3x" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="row text-center credits">
        <div class="col-md-12">
            Copyright © 2016. Kanic
        </div>
    </div>
</div>


{% endblock %}

{% block bottom_js %}
<script type="text/javascript "src="{% static "javascript/index/index.js" %}"></script>
{% endblock %}
