{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h1>Show table</h1>

<h2>Mechanic Total: {{ mechanic_total }}</h2>


<table class="table table-striped">
<thead>
<tr>
  <td>Name</td>
  <td>email</td>
  <td>phone</td>
  <td>is certified?</td>
  <td>Time</td>
</tr>
</thead>
{% for mechanic in mechanics %}
<tr>
  <td>{{ mechanic.first_name }} {{ mechanic.last_name }}</td>
  <td>{{ mechanic.email }}</td>
  <td>{{ mechanic.phone }}</td>
  <td>{{ mechanic.is_certified }}</td>
  <td>{{ mechanic.createAt }}</td>
</tr>
{% endfor %}

<tbody>

</tbody>

</table>

<h2>Car Owner Total: {{ carOwner_total }}</h2>


<table class="table table-striped">
<thead>
<tr>
  <td>Name</td>
  <td>email</td>
  <td>phone</td>
  <td>zipCode</td>
  <td>have a car?</td>
  <td>Time</td>
</tr>
</thead>
{% for carOwner in carOwners %}
<tr>
  <td>{{ carOwner.name }}</td>
  <td>{{ carOwner.email }}</td>
  <td>{{ carOwner.phone }}</td>
  <td>{{ carOwner.zipCode }}</td>
  <td>{{ carOwner.car }}</td>
  <td>{{ carOwner.createAt }}</td>
</tr>
{% endfor %}

<tbody>

</tbody>

</table>

{% endblock %}
