{% extends "base.html" %}
{% load staticfiles %}

{% block top_css %}
<link href="{% static "css/index/index.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<!-- landing title section -->
<div class="container-fluid landing-title top-background-image">
    <div class="row text-center landing-section">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <h1 class="main-title">Thank you!</h1>
            <a href="{% url "index-index" %}#about" class="signup btn">Know more about Kanic</a>
       </div>
    </div>
</div>

{% endblock %}

{% block bottom_js %}
<script type="text/javascript "src="{% static "javascript/index/index.js" %}"></script>
{% endblock %}
